:root{
    --white: #FFFFFF;
    --soft-violet: #AB5CDB;
    --very-dark-blue: #0A0C1C;
    --dark-desatured-blue: #1B1937;
    --slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}
*{
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
    display: block;
}
body{
    background-color: var(--very-dark-blue);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    
}
.card{
    background-color: var(--dark-desatured-blue);
    width: 327px;
    border-radius: 8px 8px 8px 8px;
    margin-top: 88px;
    margin-bottom: 88px;
    margin-left: 24px;
    margin-right: 24px;
} 
.card-image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
} 
.container{
    padding-top: 40px;
    padding-bottom: 38px;
    padding-left: 31px;
    padding-right: 32px;
}
h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
}
.text-highlight{
    display: inline;
    color: var(--soft-violet);
}
.description{
    color: var(--slightly-transparent-white-p);
    margin-top: 16px;
    margin-bottom: 40px;
    line-height: 25px;
}
h2{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
}
h3{
    color: var(--slightly-transparent-white);
    font-size: 12px;
    margin-top: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


@media (min-width:1440px){
    body{
        height: 100vh;
    }
    main{
        width: 1110px;
    }
    .card{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .container{
        padding-top: 71px;
        padding-bottom: 59px;
        padding-left: 71.5px;
        padding-right: 95px;
    }
    .data{
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .data-2{
        margin-left: 64.5px;
        margin-right: 58.5px;
    }
    h1{
        font-size: 36px;
        text-align: left;
        line-height: 1.2;
    }
    h2{
        margin-top: 0px;
    }
    h3{
        font-family: 'Lexend Deca', sans-serif;
    }
    .description{
        text-align: left;
        margin-top: 25px;
        margin-bottom: 72px;
        padding-right: 46px;
    }
    .card-image{
        border-radius: 0px 8px 8px 0px;
    }
    
}

